body{
	/*background-image: url('../images/bgd1.jpg');*/
}

canvas {
	margin: auto;
}

#title-text{
	font-family: 'Roboto', sans-serif;
}

.description{
	text-align:left; display:inline-block; width:640px
}